body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;

}

.container {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);    color: #1B394D;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px; 
    padding: 50px; 
    max-width: 800px;
    margin: 0 auto;
}

.header1 {
    text-align: center;
    margin-bottom: 15px; /* Reduced margin-bottom */
}

.header1 h1 {
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    color: #333;
    font-size: 28px; /* Reduced font-size */
    font-weight: bold;
}

.booking-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px; /* Reduced margin-bottom */
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.booking-table th, .booking-table td {
    padding: 12px; /* Reduced padding */
    text-align: center;
}

.booking-table th {
    background: radial-gradient( rgba(7,7,9,1),  rgba(27,24,113,1));
    color: #fff;
    font-weight: bold;
}

.booking-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.booking-table tbody tr:hover {
    background-color: #e0e0e0;
    transition: background-color 0.3s;
}

.total-fare {
    background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);    color: #000000;
    padding: 12px; /* Reduced padding */
    border-radius: 5px;
    margin-top: 15px; /* Reduced margin-top */
    text-align: center;
    font-size: 20px; /* Reduced font-size */
    font-weight: bolder;
}


    .bus-details-box {
        background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
        border: 2px solid #ccc;
        width:100%;
        border-radius: 10px;
        padding: 20px;
        margin-top: 20px;
        background-color: #f5f5f5;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .bus-details-title {
        font-size: 24px;
        color: #333;
        margin-bottom: 10px;
        text-align: center;
    }

    .bus-details-item {
        margin: 10px 0;
        font-size: 18px;
        color: #666;
    }

    
    .bus-details-box h2{
        font-weight: bold;
    }

    strong {
        color: #333;
    }



.confirmation-message {
    color: #333;
    text-align: center;
    padding: 12px; /* Reduced padding */
    border-radius: 5px;
    margin-top: 15px; /* Reduced margin-top */
    background-color: #f7f7f7;
}

.btn-payment {
    background: linear-gradient(111.4deg, rgba(7,7,9,1) 6.5%, rgba(27,24,113,1) 93.2%);
    color: #fff;
    padding: 8px 16px; /* Reduced padding */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-left: 35%;
    margin-top: 50px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.btn-payment:hover {
    background-image: linear-gradient(86.3deg, rgba(0,119,182,1) 3.6%, rgba(8,24,68,1) 87.6%);
    color:white;
}
