body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #CDDCDC;
    background-image: radial-gradient(at 50% 100%, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), linear-gradient(to bottom, rgba(255,255,255,0.25) 0%, rgba(0,0,0,0.25) 100%);
    background-blend-mode: screen, overlay;
  }
  
  .main {
    /* background-color: rgba(255, 255, 255, 0.95); */
    margin-top: 2%;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);    color: #1B394D;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    max-width: 650px; /* Increase width */
    width: 100%; 
    border: 1px solid #090979;
  }
  
  h1 {
    color:  rgba(27,24,113,1);
    text-transform: uppercase;
    font-size: 36px; /* Increase font size */
    margin-bottom: 20px;
    text-align: center;
    margin-bottom:3%;
  }
  
  .form-row {
    display: flex;
    flex-wrap: wrap;
    gap:5%;

  }
  
  .form-group {
    flex: 1;
    margin-right: 10px;
    justify-content: space-between;

  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #1B394D;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="tel"],
  input[type="time"],
  input[type="date"],
  input[type="password"],
  select {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    transition: border-color 0.3s ease;
  }
  
  input[type="text"]:focus,
  input[type="number"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus,
  input[type="time"]:focus,
  input[type="date"]:focus,
  input[type="password"]:focus,
  select:focus {
    border-color: #EC5F20;
  }
  
  input[type="submit"] {
    background: linear-gradient( 111.4deg,  rgba(7,7,9,1) 6.5%, rgba(27,24,113,1) 93.2% );
    margin-left: 0.5%;
    width:100%;
    color: #fff;
    font-size: 18px;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

  }
  
  input[type="submit"]:hover {
    background-image: linear-gradient( 86.3deg,  rgba(0,119,182,1) 3.6%, rgba(8,24,68,1) 87.6% );                
}

  
  #otherDistrictContainer {
    display: none;
  }
  
  /* Additional Styling for the Status (Gender) Select */
  #C_gender {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #1B394D;
    margin-bottom: 15px;
    transition: border-color 0.3s ease;
  }
 
  

