body {
  /* background-color: #d3d1e2; */
  /* background: url(img/loginbg.png); */
  /* background: #BBD2C5;  
background: -webkit-linear-gradient(to right, #292E49, #536976, #BBD2C5);  
background: linear-gradient(to right, #292E49, #536976, #BBD2C5);  */

  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);    color: #1B394D;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

.form-container{
  /* background-image: linear-gradient( 86.3deg,  rgba(0,119,182,1) 3.6%, rgba(8,24,68,1) 87.6% ); */
  /* background-image: linear-gradient( 86.3deg,  rgba(0,119,182,1) 3.6%, rgba(8,24,68,1) 87.6% ); */
  /* background-image: linear-gradient( 179deg,  rgba(0,0,0,1) 9.2%, rgba(127,16,16,1) 103.9% ); */
  background-image: linear-gradient( 111.4deg,  rgba(7,7,9,1) 6.5%, rgba(27,24,113,1) 93.2% );
  /* background: linear-gradient(150deg,#1B394D 33%,#2D9DA7 34%,#2D9DA7 66%,#020c4c 67%); */
  /* background: linear-gradient(150deg,#4C020C 33%,#0C4C02 34%,#0C4C02 66%,#020c4c 67%); */

  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin-left:-5%;
  padding: 30px 20px 50px;
  width:110%;
  background: cover;
}
.form-container .title{
  color: #fff;
  font-size: 23px;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin: 0 0 60px;
}
.form-container .form-horizontal{
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}
.form-horizontal .form-icon{
  color: #fff;
  background-color: #1B394D;
  font-size: 75px;
  line-height: 92px;
  height: 90px;
  width: 90px;
  margin: -65px auto 10px;
  border-radius: 50%;
}
.form-horizontal .form-group{
  margin: 0 0 10px;
  position: relative;
}
.form-horizontal .form-group:nth-child(3){ margin-bottom: 30px; }
.form-horizontal .form-group .input-icon{
  color: #e7e7e7;
  font-size: 23px;
  position: absolute;
  left: 0;
  top: 10px;
}
.form-horizontal .form-control{
  color: #000;
  font-size: 16px;
  font-weight: 600;
  height: 50px;
  padding: 10px 10px 10px 40px;
  margin: 0 0 5px;
  border: none;
  border-bottom: 2px solid #e7e7e7;
  border-radius: 0px;
  box-shadow: none;
}
.form-horizontal .form-control:focus{
  box-shadow: none;
  border-bottom-color: #EC5F20;
}
.form-horizontal .form-control::placeholder{
  color: #000;
  font-size: 16px;
  font-weight: 600;
}
.form-horizontal .forgot{
  font-size: 13px;
  font-weight: 600;
  text-align: right;
  display: block;
}
.form-horizontal .forgot a{
  color: #777;
  transition: all 0.3s ease 0s;
}
.form-horizontal .forgot a:hover{
  color: #777;
  text-decoration:  underline;
}
.form-horizontal .signin{
  color: #fff;
  /* background:linear-gradient( 179deg,  rgba(0,0,0,1) 9.2%, rgba(127,16,16,1) 103.9% ); */
  background: linear-gradient( 111.4deg,  rgba(7,7,9,1) 6.5%, rgba(27,24,113,1) 93.2% );
  font-size: 17px;
  text-transform: capitalize;
  letter-spacing: 2px;
  width: 100%;
  padding: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transition: all 0.4s ease 0s;
}
.form-horizontal .signin:hover,
.form-horizontal .signin:focus{
  font-weight: 600;
  letter-spacing: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3) inset;
}

p{
  color:black;
  
}

p a{
  color:rgba(27,24,113,1);
  text-decoration: none;
}

p a:hover{
  color: rgba(127,16,16,1);
  text-decoration: none;
}