.main{
    background: url("BG1.JPG");
    background-repeat: no-repeat;
    background-size: 140%;
    background-position: center;
  /* background-color: rgb(186, 186, 228); */
  height: 100%;
  width: 100%;
  /* padding-top: 10%; */
  
  }


  .form{
    background-color: #ffffffbd;
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: center;
    padding-top: 10%;     
    /* margin-top: -5%; */
    border-radius: 10px;
    z-index: 0;


  }

  h1{
display: flex;
justify-content: center;
margin-bottom: 10px;
margin-top: 10px;
margin-left: -8%;
padding-right: 5%;
}

.form h1{
color: black;
display: flex;
justify-content: center;
margin-bottom: 10px;
margin-left: 3%;
padding-bottom: 2%;
}
.side-menu .brand-name img{
margin-left: -30%;

}

ul.ui img{
height: 20%;
width: 20%;
}
table{
margin-left:2%;
width:95%;
border: 1px solid black;
border-collapse: collapse; 
box-sizing:border-box;       
}
.table td,.table th{
padding:12px 15px;
text-align:center;
font-size:16px;
}

.table th{
background: black;
color:white;
font-family: "Arial Black", Times, serif;
}
.table td{
background: white;
font-family: Helvetica;
font-style: oblique;
font-weight:bolder;
    }

td button{
background-color:#090979;
border: none;
color: white;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
border-radius:5px;
}

td button:hover{
background: green;
}
