body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.container {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);    color: #1B394D;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid silver;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
}

.passenger-info {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.passenger-info h3 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

/* Style for the table-like layout */
.passenger-table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;

}

.passenger-row {
    display: table-row;
}

.passenger-cell {
    display: table-cell;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.book-button {
    background: linear-gradient( 111.4deg,  rgba(7,7,9,1) 6.5%, rgba(27,24,113,1) 93.2% );
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

.book-button:hover {
    background-image: linear-gradient( 86.3deg,  rgba(0,119,182,1) 3.6%, rgba(8,24,68,1) 87.6% );                
}

.psno{
    font-size:18px;
    color:darkgreen;
    font-weight: 600;

}

.seatno{
    font-size:18px;
    color:#090979;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}

.btn{
    margin-left: 43%;
}

h2{
    font-weight: bold;
    color:#090979;
    text-align: center;
    margin-bottom: 5%;
}