body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #CDDCDC;
    background-image: radial-gradient(at 50% 100%, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), linear-gradient(to bottom, rgba(255,255,255,0.25) 0%, rgba(0,0,0,0.25) 100%);
    background-blend-mode: screen, overlay;
  }
  
  .content {
    /* background-color: rgba(255, 255, 255, 0.95); */
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);    color: #1B394D;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    max-width: 650px; /* Increase width */
    width: 100%; 
    max-height: 90%;
    border: 1px solid #090979;
  }
  
  h1 {
    color: #090979; /* Change title color */
    text-transform: uppercase;
    font-size: 36px; /* Increase font size */
    margin-bottom: 20px;
    text-align: center;
    margin-bottom:3%;
  }
  
  .form-row {
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
    gap:5%;

  }
  
  .form-group {
    flex: 1;
    margin-right: 10px;
    justify-content: space-between;

  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #1B394D;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="tel"],
  input[type="time"],
  input[type="date"],
  input[type="password"],
  select {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    transition: border-color 0.3s ease;
  }
  
  input[type="text"]:focus,
  input[type="number"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus,
  input[type="time"]:focus,
  input[type="date"]:focus,
  input[type="password"]:focus,
  select:focus {
    border-color: #EC5F20;
  }
  
  input[type="submit"] {
    background-color: #000000;
    margin-left: 41%;
    color: #fff;
    font-size: 18px;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: -6%;

  }
  
  input[type="submit"]:hover {
    background-color: #090979;
  }
  
  #otherDistrictContainer {
    display: none;
  }
  
  /* Additional Styling for the Status (Gender) Select */
  #C_gender {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #1B394D;
    margin-bottom: 15px;
    transition: border-color 0.3s ease;
  }
  
  /* Additional Styling for the Edit Button */
  input[type="button"] {
    margin-left: 43%;
    background-color: #000000;
    color: #fff;
    font-size: 18px;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: -6%;

  }
  
  input[type="button"]:hover {
    background-color: #090979;
  }
  

  .button-link {
    display: inline-block;
    margin-left: 35%;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    color: #090979;
  }