
.main h1{
text-align: center;
}
.main{
    margin-top: 4%;
}
.bus-container {
    margin-top: 200px;
    width: 90%;
    margin: 20px auto;
}

.space {
    margin-right: 54px; 
  }
  

.bus-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.bus-row:hover {
    background-color: #f2f2f2;
}

.bus-details {
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold; 
    flex-grow: 1; 
}

.distance {
    font-size: 20px;
    margin: 0 20px; 
}

.fare {
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px;
    color: #169705; 
}

.book-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.book-button:hover {
    background-color: #0056b3;
}


.via-button {
    height: 5px;
    padding: 0.5rem;
    line-height: 1;
}

.via-text {
    color: #090979;
    font-weight: lighter;
    margin-left: 10%; 
}

.badge-info{
    margin-left:-50%;
}