@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body
{
    min-height: 100vh;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

h1,h2{
    color:#090979;
}
.btn{
    background: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
    color: white;
    padding: 5px 10px;
    text-align: center;
    margin-left: 80%;


}

.btn:hover{
    color: #05060A;
    background: white;
    padding: 3px 8px;
    border: 2px solid  #090979;
}


/* .side-menu .brand-name .logo img{
    height: 50%;
    width: 100%;
} */

.side-menu li a{
    font-size: 24px;
    padding: 10px 40px;
    /* border: 1px solid rgb(236, 234, 234); */
    color: aliceblue;
    display: flex;
    align-items: center;
}

.side-menu li a:hover{
    background: white;
    color: #090979;
}

.side-menu li a:active{
    background-color: antiquewhite;
    color: #090979;
}


.container{
    /* background: url(BG1.jpg); */
    position: absolute;
    background-size: 100%;
    right: 0;
    width: 80vw;
    height: 100vh;

}

.container .header{
    position: fixed;
    top: 0%;
    width: 80vw;
    height: 10vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    z-index: 1;
}


.container .header .nav{
width: 90%;
display: flex;
align-items: center;
}

.container .header .nav .search{
    flex: 2;
    display: flex;
    justify-content: center;

}
.container .header .nav .search button{
    width: 40px;
    height: 40px;
    border: none;
}


.container .header .nav .search input[type="text"]{
    border: none;
    background:#f1f1f1;
    padding: 10px;
    width: 50%;

}


.container .header .nav .user{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .header .nav .user img{
    width: 40px;
    height: 40px;
}
.container .header .nav .user .img-case {
    position: relative;
    width: 50px;
    height: 50px;
}

/* .container .header .nav .user .img-case img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */
.container .header .nav .user .img-case img{
    position: absolute;
    top: 0;
    left: 2200%;
    width: 100%;
    height: 100%;
   }

/* .side-menu .brand-name img{
    margin-left: -30%;

  } */

  ul.ui img{
height: 20%;
width: 20%;
}